<% provide(:title, @user.username) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <p>Hello, <%= @user.username %></p>
      </h1>
    </section>
  </aside>
</div>